* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #081c15;
}

.aside{
    display: inline-block;
    width: 25%;
    height: 80vh;
    vertical-align: top;
    background-color: #d9ed92;
    list-style-type: none;
    text-align: center;
}

.main{
    display: inline-block;
    width: 74.5%;
    height: 80vh;
    vertical-align: top;
    background-image: url(../../images/fondoVaquero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.aside img {
    height: auto;
    width: 250px;
    margin-bottom: 20px;
}

.aside ul {
    text-align: center;
}

.aside li {
    padding-bottom: 40px;
}

.aside a{
    text-decoration: none;
    color: #386641;
}
