* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../../images/HombreMina.png);
    background-size: cover;
}

section {
    text-align: center;
    height: 70vh;
    padding-top: 50px;
}

h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 20px;
}

h2 {
    color: #f3ffd8;
    font-size: 20px;
    margin-bottom: 35px;
}

.boton {
    display: inline-block;
    background-color: #132a13;
    padding: 15px 40px;
    color: #ecf39e;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #5bba6f;
    margin-top: 20px;
}

.boton:hover {
    background-color: #137547;
    color: #ffffff;
}