* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #132a13;
    color: #ecf39e;
}

section {
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #90a955;
}

div p {
    margin-bottom: 10px;
    font-size: 18px;
}

#about {
    background-color: #054a29;
    width: 85%;
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: #ecf39e;
    border-radius: 12px;
    border: 2px solid #31572c;
}

.info {
    background-color: #132a13;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    color: #ecf39e;
    border-radius: 10px;
    border: 2px solid #2a9134;
    display: inline-block;
    width: 85%;
}

.Foto {
    width: 220px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #137547;
    margin-left: 20px;
    margin-bottom: 15px;
    float: right;
}

.Foto2 {
    width: 220px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #137547;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
}

.texto {

    width: auto;
    text-align: left;
    font-size: 18px;
}

.resaltar {
    color: #5bba6f;
    font-weight: bold;
    text-decoration: none;
}