* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #132a13;
    color: #ecf39e;
}

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    color: #ecf39e;
    padding: 10px;
}

th {
    color: #90a955;
    padding: 15px;
    font-size: 18px;
}

h2 {
    font-size: 24px;
    color: #ecf39e;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabla {
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-color: #4f772d;
    background-color: #054a29;
    border-radius: 12px;
    border-collapse: collapse;
}

.titulo {
    border-bottom-style: solid;
    text-align: center;
    font-size: 26px;
    border-color: #4f772d;
    padding: 15px;
    color: #ecf39e;
}

.BorderFoto {
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: #4f772d;
    padding: 15px;
}

.BorderTexto {
    border-bottom-style: solid;
    border-color: #4f772d;
    padding: 15px;
}

.ImgLogo {
    max-height: 60px;
    width: auto;
    border-radius: 8px;
}

.marco {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #054a29;
    border-style: solid;
    border-radius: 10px;
    border-color: #31572c;
    color: #ecf39e;
}

.resaltar {
    color: #5bba6f;
    font-weight: bold;
}